rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /users/{userId} {
      allow read, write: if request.auth != null;
    }
    
    match /wordClouds/{userId} {
      allow read, write: if request.auth != null && request.auth.uid == userId;
    }
    
    match /colorMixes/{userId} {
      allow read, write: if request.auth != null && request.auth.uid == userId;
    }
    
    // For friend access
    match /{collection}/{userId} {
      allow read: if request.auth != null && 
        exists(/databases/$(database)/documents/users/$(request.auth.uid)/friends/$(userId));
    }
  }
} 