<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAzx8QTtcqoMgNjfxECQBx-xdNC8O6sohg</string>
	<key>GCM_SENDER_ID</key>
	<string>733031349243</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.moodsync.app</string>
	<key>PROJECT_ID</key>
	<string>mood-sync-app</string>
	<key>STORAGE_BUCKET</key>
	<string>mood-sync-app.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:733031349243:ios:0d2b9f09dc55ed8971e95e</string>
</dict>
</plist>